[% USE raw %]
[% PROCESS 'i18n.inc' %]
[% WRAPPER "wrapper-staff-tool-plugin.inc" method="tools" plugin_title="Rapido ILL" parent_method="admin" plugin_subtitle="Agencies" %]


<body id="plugins_run_tool" class="plugins">
    <div class="row">
        <div class="col-md-10 order-md-2 order-sm-1">
<h1>Agencies</h1>
<p>Agency management page — coming soon.</p>
        </div>
    </div>

</body>
[% END %]